<!DOCTYPE HTML>
<html>
<body>
<div>
    <p style="font-size: 48px"><strong>Important!</strong></p>

    <p style="font-size: 24px">You are about to send the <span style="font-weight: bold">{appname}</span>.</p>

    <p style="font-size: 18px">Before sending an ad-hoc message, please ensure that you are sending this to the intended recipients. To double-check the recipients, please refer to <a target="_blank" href="{searchurl}" style="color: #2178c3">this saved search. </a></p>

    <p style="font-size: 18px">Once done, hit on "Confirm" to proceed with sending.</p>


    <p></p>
</div>
</body>
</html>